name: secondhand

on:
  pull_request:
    branches:
      - release

permissions:
  contents: read

env:
  APPLICATION_FILE_PATH: ./src/main/resources/application.yml
  APPLICATION_RESOURCES_DIRECTORY_PATH: ./src/main/resources

jobs:
  app-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'corretto'

      - name: Create application.yml
        run: |
          mkdir ${{ env.APPLICATION_RESOURCES_DIRECTORY_PATH }}
          touch ${{ env.APPLICATION_FILE_PATH }}
          echo "${{ secrets.APPLICATION }}" > ${{ env.APPLICATION_FILE_PATH }}
        shell: bash

      - name: Grant execute gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build gradle
        run: ./gradlew clean build
        shell: bash

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_IMAGE_NAME }}

      - name: Copy docker-compose-deploy, nginx.conf
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "docker-compose-deploy.yml, nginx.conf"
          target: "/home/ec2-user/"

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER_NAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker-compose -f docker-compose-deploy.yml down -v
            docker-compose -f docker-compose-deploy.yml pull
            docker-compose -f docker-compose-deploy.yml up -d
            docker image prune -f
